* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Permanent Marker", cursive;
  font-weight: 100;
  font-style: normal;
}

img {
  height: 100vh;
  width: 100rem;
  position: relative;
}
.wrapper {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  height: 50vh;
  width: 50vw;

  position: absolute;
  text-align: center;
}
h1,
span {
  width: 100%;
}
.memeGen {
  height: 60%;
  width: 50vw;
  margin: 10% 0%;
}
button {
  height: 10%;
  width: 30%;
  border-radius: 11px;
  background-color: red;
  color: white;
}
button:hover {
  transform: scale(1.03);
  background-color: grey;
}
#meme {
  font-size: 100%;
  line-height: 2rem;
  text-align: center;
  word-wrap: break-word;
  font-size: 16px;
}
.fade {
  opacity: 1;
  transition: opacity 1.5s;
}

@media only screen and (max-width: 360px) {
  #btn {
    font-size: 9px;
    line-height: 15px;
  }
}
